.last-div-main {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1260px;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 100;
    box-shadow: 0px -10px 20px 20px black;
}

.last-div-title-p {
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 30px;
    font-weight: 600;
}

.last-div-link {
    text-decoration: none;
    color: white;
    font-family: arial;
    margin: 10px;
    font-size: 21px;
}

.last-div-01 {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-div-02 {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-div-03 {
    height: 500px;
}

.log-in-bar-container {
    display: flex;
    padding: 0px 20px;
}

.log-in-bar {
    height: 50px;
    flex: 1;
    background-color: rgb(41, 41, 41);
    border: solid 2px rgb(41, 41, 41);
    border-radius: 25px;
    font-family: arial;
    color: white;
    padding-left: 15px;
    transition: all .3s;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.3);
    font-size: 16px;
}

.log-in-bar:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    border: solid 2px rgba(255, 255, 255, 0.8);
}

.log-in-bar:active {
    scale: 0.98;
}

.email-password-p {
    padding-left: 30px;
    color: white;
    font-family: arial;
}

.forgot-password-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forgot-password-p {
    color: rgb(0, 102, 255);
    font-family: arial;
}

.remember-me-div {
    display: flex;
    align-items: baseline;
    justify-content: start;
    gap: 5px;
}

.remember-me-p {
    color: white;
    font-family: arial;
}

.sign-in-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sign-in-button {
    background-color: white;
    color: black;
    border: none;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    transition: all .2s;
}

.sign-in-button:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    width: 220px;
}

.sign-in-button:active {
    scale: 0.95;
}
