html {
    overflow-x: hidden;
    width: 100%;
}

body {
    padding-top: 100px;
    padding-bottom: 1400px;
    overflow-x: hidden;
    position: relative;
}

.no-scroll, .no-scroll body {
    overflow: hidden !important;
    height: 100% !important;
}

button {
    color: black;
    cursor: pointer;
}

input {
    font-size: 16px;
}

.last-lines-div {
    height: 60px;
    min-width: 250px;
    margin-top: 40px;
}

.last-div-line-01 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.last-div-line-02 {
    padding: 0px 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-line {
    flex: 1;
    background-color: black;
    height: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.main-entring {
    opacity: 0;
    animation: mainEntering 0.3s ease 0.2s forwards;
}

@keyframes mainEntering {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes mainEnteringIndex {
    from {
        pointer-events: none;
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes opening {
    0% {
        border-radius: 0px;
        opacity: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        pointer-events: all;
    }
    70% {
        border-radius: 0px;
        opacity: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 80px;
        pointer-events: all;
    }
    80% {
        border-radius: 0px;
        opacity: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 80px;
        pointer-events: none;
    }
    90% {
        border-radius: 15px;
        opacity: 1;
        top: 10px;
        left: 10px;
        right: 10px;
        height: 80px;
        pointer-events: none;
    }
    100% {
        border-radius: 15px;
        opacity: 0;
        top: 10px;
        left: 10px;
        right: 10px;
        height: 80px;
        pointer-events: none;
    }
}


.opening {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    backdrop-filter: blur(10px);
    will-change: backdrop-filter;
    transform: translateZ(0);
    pointer-events: auto;
    animation: opening 1s ease 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-main-div{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: openingElements 2.5s ease 0.3s forwards;
}

.main-entring-index {
    opacity: 0;
    transform: scale(0.95);
    animation: mainEnteringIndex 0.4s ease 3.85s forwards;
}

@keyframes openingElements {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    25% {
        transform: translateY(0px);
        opacity: 1;
    }
    90% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}

.opening-pic-div {
    max-width: 200px;
    max-height: 200px;
}

.opening-pic {
    width: 100%;
}

.opening-p {
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}
    