.hmida-logo-pic {
    width: 100%;
    transition: all .2s;
}

.hmida-logo-pic:active {
    scale: 0.99;
}

.title-p {
    color: black;
    font-size: 65px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
    line-height: 70px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.main-div02-02 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-collection-button {
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    margin-top: 30px;
    transition: all .2s
}

.explore-collection-button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.explore-collection-button:active {
    scale: 0.98;
}

.new-product-drops-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 30px 0px;
    padding: 0px 10px;
}

.new-product-drops-p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0px 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.line {
    flex: 1;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.new-products-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.new-product-link {
    text-decoration: none;
    transition: all .2s;
    color: black;
}

.new-product-link:active {
    scale: 0.995;
}

.new-product {
    height: 400px;
    width: 300px;
    background-color: white;
    border: solid 2px black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}

.new-product:active {
    scale: 0.995;
}

.new-product-img-div {
    height: 250px;
    width: 250px;
    border: solid 2px black;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.new-product-img {
    width: 100%;
}

.new-product-p {
    font-family: arial;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}
