header {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 80px;
    border: none;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1000;
    opacity: 0.95;
}

.menu {
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    fill: rgba(255, 255, 255, 0.8);
    transition: all .2s;
    pointer-events: none;
}

.menu:hover {
    fill: rgba(255, 255, 255, 1);
}

.menu:active {
    scale: 0.95;
}

.header-after {
    height: 420px;
    padding: 0px 15px 15px 15px;
}

.header-01 {
    display: flex;
    height: 80px;
}

.header-02 {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
}

.header-02-after {
    pointer-events: all;
}

.header-button-menu-a {
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.header-button-menu {
    flex: 1;
    height: 60px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    transition: all .2s;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -54px 52px -24px rgba(255, 255, 255, 0.10);;
}

.header-button-menu:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px white;
}

.header-button-menu:active {
    scale: 0.98;
}

.header-button-icon-menu {
    fill: rgba(255, 255, 255, 0.8);
    transition: all .2s;
}

.header-button-icon-menu:hover {
    fill: rgba(255, 255, 255, 1);
}

.header-div01 {
    flex: 1;
    display: flex;
}

.header-div01-01 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 2;
    min-width: 180px;
}

.logo-p {
    color: white;
    font-size: 47px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header-div01-02 {
    flex: 3;
}

.header-div02 {
    flex: 1;
    display: flex;
}

.header-div02-01 {
    flex: 5;
}

.header-div02-02 {
    flex: 8;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.header-button-a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    width: 80px;
    border: none;
    font-size: 16px;
    transition: all .2s;
}

.header-button:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px white;
}

.header-button:active {
    scale: 0.95;
}

.header-button-search {
    width: 50px;
    background-color: transparent;
    border: none;
    transition: all .2s;
}

.header-button-search:active {
    scale: 0.95;
}

.header-button-cart {
    width: 50px;
    background-color: transparent;
    border: none;
    transition: all .2s;
}

.header-button-cart:active {
    scale: 0.95;
}

.header-search {
    fill: rgba(255, 255, 255, 0.8);
    transition: all .2s;
}

.header-search:hover {
    fill: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px white;
}

.header-cart {
    fill: rgba(255, 255, 255, 0.8);
    transition: all .2s;
}

.header-cart:hover {
    fill: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px white;
}

@media (max-width: 800px) {
    .menu {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        fill: rgba(255, 255, 255, 0.8);
        transition: all .2s;
        pointer-events: all;
        margin-right: 10px;
    }
    .header-button {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        width: 0px;
        border: none;
        font-size: 0px;
        pointer-events: none;
        transition: all .2s;
    }
    .header-button-search {
        width: 0px;
        background-color: transparent;
        border: none;
        pointer-events: none;
        scale: 0;
    }
    .header-button-cart {
        width: 0px;
        background-color: transparent;
        border: none;
        pointer-events: none;
        scale: 0;
    }
}