html {
    overflow-x: hidden;
    width: 100%;
}

body {
    padding-top: 100px;
    padding-bottom: 1400px;
    overflow-x: hidden;
    position: relative;
}

button {
    color: black;
    cursor: pointer;
}

input {
    font-size: 16px;
}

.last-lines-div {
    height: 60px;
    min-width: 250px;
    margin-top: 40px;
}

.last-div-line-01 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.last-div-line-02 {
    padding: 0px 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-line {
    flex: 1;
    background-color: black;
    height: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}